/* components */
@import url('./components/productIItem.css');

/* pages */
@import url('./pages/index.css');
@import url('./pages/about.css');
@import url('./pages/portfolio.css');


/* utilities */
@import url('./others/font.css');
@import url('./others/form.css');
@import url('./others/utilities.css');
@import url('./others/variable.css');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: var(--base-font-family);
}

section {
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    section {
        width: 90%;
    }
}